<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap">
    <title>About</title>
</head>
<body style="background-color:#333;">
    <!-- Navbar -->
    <div class="navbar">
        <div class="navbar-container flex">
                <h1 class="logo">My Financial Future</h1>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="about">About</a></li>
                    </ul>
                </nav>
            </div>
    </div> <!-- End of Navbar -->
    <div id="about">
        <h3>The Importance of Financial Planning</h3>
        <p>
            In today's world, planning for the future is a necessity in order to ensure your financial ducks are in a row. No one wants to reach retirement age and not have the funds in place to be able to retire or at least have a little flexibility. 
            Regularly checking in on your financial status and where you expect to be a few years or even decades down the road can help with prioritization and action steps to better situate yourself for the future. This tool can help you do just that!
        </p>
        <p>
            You can easily plug in your current funds, accounts, and debts to see where you stand, or plug in hypothetical data so you know what to expect when you want to set financial goals for yourself. This can serve as a reference point to see how much you need to save, or how much debt you can afford to have. This calculation is at the root of everyone's financial strategy, whether they consider it thoughtfully or not. 
        </p>
        <p>
            Happy planning!
        </p>
    </div>
    <form action="/">
        <input type="submit" id="back-button" value="Return" />
    </form>
</body>
</html>